/* all elements */

*,
*::before,
*::after {
  // Set the padding and margin to 0
  margin: 0;
  padding: 0;
  // Set all the elements to inherit their box sizing
  box-sizing: inherit;
}

/* root element */

html {
  // Set the font size to 10px, easy to calculate via rem through out project
  font-size: 62.5%;
  // Set the root box sizing to border-box, this will cause all child elements to in herit as specified above
  box-sizing: border-box;

  /* media query for root element */

  @media  only screen and (max-width:$tablet) {
    // Set the font size to 8px
    font-size: 50%;
  }
}

/* body element */

body {
  background-color: $white;
}