/* footer */

.footer {
  // Set the grid area
  grid-area: footer;
  // Set the font size to 1rem
  font-size: 1.2rem;
  // Set the background color
  background-color: $black;
  // Add padding on all sides
  padding: 1rem 2rem;
}