/* grid */

.grid {
  // create a grid with 4 rows and 6 columns
  display: grid;
  grid-template-rows: min-content repeat(2,minmax(min-content,1fr)) min-content;
  grid-template-columns: 2rem repeat(4,1fr) 2rem;
  // Set the grid area
  grid-template-areas: 'header header header header header header'
                        '. main main main main .'
                        '. main main main main .'
                        'footer footer footer footer footer footer';
  // set the minimum height to 100viewport height
  min-height: 100vh;
}