/* header */

.header {
  // set the grid area
  grid-area: header;
  // set the background color
  background-color: $black;
  // add pading to all sides
  padding: 1rem 2rem;
  // set the display to flex
  display: flex;
  flex-direction: row;
  // align the items in the center on the cross axis
  align-items: center;

}