/* header */

.header {
  // Set the grid area
  grid-area: header;
  // Set the background color
  background-color: $black;
  // Add pading to all sides
  padding: 2rem;
  // Set the display to flex
  display: flex;
  flex-direction: row;
  // Align the items in the center on the cross axis
  align-items: center;

}