/* view */

.view {
  // set the background color
  background: $grey;
  // set the height and width
  height:100%;
  width: 100%;

  // form view
  &--form {
    // set the display to a grid with 3 rows and 3 column
    display: grid;
    grid-template-columns: 1fr 90rem 1fr;
    grid-template-rows: 1fr min-content 1fr;
    // set the gap between each row and column
    grid-gap: 2rem;
    // justify the items on the horizontal axis to center
    justify-items: center;

    @media only screen and (max-width: $tablet-large){
      grid-template-columns: 1fr;
    }
  }

  // card view
  &--cards {
    // set the display to a grid with 4 rows and 3 column
    display: grid;
    grid-template-columns: 1fr 90rem 1fr;
    grid-template-rows: 1fr repeat(2,min-content) 1fr;
    // set the gap between each row and column
    grid-gap: 2rem;
    // justify the items on the horizontal axis to center
    justify-items: center;

    @media only screen and (max-width: $tablet-large){
      grid-template-columns: 1fr;
    }
  }
}