/* view */

.view {

  height: 100%;
  width: 100%;

  // form view
  &--form {
    // set the display to a grid with 3 rows and 1 column
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    // set the gap between each row and column
    grid-gap: 2rem;
    // justify the items on the horizontal axis to center
    justify-items: center;

  }
}