// Colors
$primary-dark: #5f3dc4;
$primary: #7950f2;
$primary-light: #b197fc;
$secondary-dark: #2b8a3e;
$secondary: #40c057;
$secondary-light: #8ce99a;
$error-dark: #d9480f;
$error: #fd7e14;
$error-light: #ffc078;
$black: #212529;
$grey: #dee2e6;
$white: #f8f9fa;